<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - MASS Encryptor</title>
    
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <div class="navbar">
            <div class="logo">Logo</div>
            <div class="links">
                <a href="#">MASS Encryption</a>
                <a href="" class="active">About</a>
                <a href="#">Learn</a>
                <a href="#">Translator</a>
            </div>
            <a href="#" class="support">Support</a>
        </div>

        <section id="about">
            <h2>MASS Encryptor</h2>
            <p><strong>Purpose:</strong> MASS Encryptor is designed to allow users to encrypt messages and decrypt them using common ciphers. It is supposed to be a fun and educational tool that allows users to engage in cryptography.</p>
            
            <h3>Target Audience & Needs:</h3>
            <p><strong>General Public & Educational Use</strong></p>
            <p>The target audience can be any age from young children who want to play a fun game and learn about common ciphers, to grown ups who are trying to exchange private information not so openly, to people who would like to exercise their brains and crack some codes and need a quick checker to see if they are right.</p>
            <p>The ciphers used are very common well-known ones that often people use to play fun games during family nights or are used to teach kids about ciphers and enhance cybersecurity knowledge.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 MASS Encryptor. All rights reserved.</p>
    </footer>
</body>
</html>
