<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Layout</title>

</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="links">
            <a href="#">MASS Encryption</a>
            <a href="#">About</a>
            <a href="#">Learn</a>
            <a href="#">Translator</a>
        </div>
        <a href="#" class="support">Support</a>
    </div>
    <div class="content">
        <h1>Practice</h1>
        <section id="caesar">
            <h2>Caesar Cipher Practice Questions</h2>
            <h3>Question 1</h3>
            <h4>Decode this with a shift of 3: mxolxv fdhvdu</h4> <!--julius caesar-->
            <h3>Question 2</h3>
            <h4>Encrypt this with a shift of 5: Blue flowers</h4> <!--gqzj kqtbjwx-->
            <h3>Question 3</h3>
            <h4>Decode this with a shift of 4: 	kpedih hsryxw evi eqedmrk</h4> <!--glazed donuts are amazing-->
            <h3>Question 4</h3>
            <h4>Encrypt this with a shift 3: A big golden retriever</h4> <!--D elj jroghq uhwulhyhu-->
            <h3>Question 5</h3>
            <h4>Decode this with a shift of 3 backwards: F kbba x mltbo kxm</h4> <!--	I need a power nap-->
        </section>
        <section id="atbash">
            <h2>Atbash Cipher Practice Questions</h2>
            <h3>Question 1</h3>
            <h4></h4>
            <h3>Question 2</h3>
            <h3>Question 3</h3>
            <h3>Question 4</h3>
            <h3>Question 5</h3>
        </section>
        <section id="keyword">
            <h2>Keyword Cipher Practice Questions</h2>
            <h3>Question 1</h3>
            <h3>Question 2</h3>
            <h3>Question 3</h3>
            <h3>Question 4</h3>
            <h3>Question 5</h3>
        </section>
        <section id="morse">
            <h2>Morse Code Practice Questions</h2>
            <h3>Question 1</h3>
            <h3>Question 2</h3>
            <h3>Question 3</h3>
            <h3>Question 4</h3>
            <h3>Question 5</h3>
        </section>
    </div>
</body>
</html>
