<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Layout</title>

</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="links">
            <a href="#">MASS Encryption</a>
            <a href="#">About</a>
            <a href="#">Learn</a>
            <a href="#">Translator</a>
        </div>
        <a href="#" class="support">Support</a>
    </div>
    <div class="content">
        <h1>Practice</h1>
        <section id="caesar">
            <h2>Caesar Cipher Practice Questions</h2>
            <h3>Question 1</h3>
            <h4>Decode this with a shift of 3: mxolxv fdhvdu</h4> <!--julius caesar-->
            <h3>Question 2</h3>
            <h4>Encrypt this with a shift of 5: Blue flowers</h4> <!--gqzj kqtbjwx-->
            <h3>Question 3</h3>
            <h4>Decode this with a shift of 4: 	kpedih hsryxw evi eqedmrk</h4> <!--glazed donuts are amazing-->
            <h3>Question 4</h3>
            <h4>Encrypt this with a shift 3: A big golden retriever</h4> <!--D elj jroghq uhwulhyhu-->
            <h3>Question 5</h3>
            <h4>Decode this with a shift of 3 backwards: F kbba x mltbo kxm</h4> <!--	I need a power nap-->
        </section>
        <section id="atbash">
            <h2>Atbash Cipher Practice Questions</h2>
            <h3>Question 1</h3>
            <h4>Decode this: izmwln</h4> <!--random-->
            <h3>Question 2</h3>
            <h4>Encrypt this: A little duck</h4> <!--z orggov wfxp-->
            <h3>Question 3</h3>
            <h4>Decode this: Gsviv rh z hmld yoraaziw</h4> <!--There is a snow blizzard-->
            <h3>Question 4</h3>
            <h4>Encrypt this: A majestic stallion</h4> <!--Z nzqvhgrx hgzoorlm-->
        </section>
        <section id="keyword">
            <h2>Keyword Cipher Practice Questions</h2>
            <h3>Question 1</h3>
            <h4>Decode this with the keyword "keyword": qabp bp k poynoq hoppkdo</h4> <!--This is a secret message-->
            <h3>Question 2</h3>
            <h4>Encrypt this with the keyword "hello": Hello World</h4> <!--dajjn wnrjo-->
            <h3>Question 3</h3>
            <h4>Decode this with the keyword "sunny": priiao uoaaza</h4> <!--summer breeze-->
            <h3>Question 4</h3>
            <h4>Encrypt this with the keyword "sunny": seashells</h4> <!--paspdahhp-->
            <h3>Question 5</h3>
            <h4>Decrypt this with the word "window": blhdok dqwblk</h4> <!--golden dragon-->
        </section>
        <section id="morse">
            <h2>Morse Code Practice Questions</h2>
            <h3>Question 1</h3>
            <h4>Decode this: -- --- .-. ... . / -.-. --- -.. .</h4> <!--morse code-->
            <h3>Question 2</h3>
            <h4>Encrypt this: fireworks</h4> <!--..-. .. .-. . .-- --- .-. -.- ...-->
            <h3>Question 3</h3>
            <h4>Decode this: ..-. . ... - .. ...- .- .-.. / .-.. .. --. .... - ...</h4> <!--festival lights-->
            <h3>Question 4</h3>
            <h4>Encrypt this: glowing lanterns</h4> <!----. .-.. --- .-- .. -. --. / .-.. .- -. - . .-. -. ...-->
        </section>
    </div>
    <footer>
        <p>&copy; 2024 MASS Encryptor. All rights reserved.</p>
    </footer>
</body>
</html>
