<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Layout</title>

</head>
<body>
    <div class="navbar">
        <div class="logo">Logo</div>
        <div class="links">
            <a href="#">MASS Encryption</a>
            <a href="#">About</a>
            <a href="#">Learn</a>
            <a href="#">Translator</a>
        </div>
        <a href="#" class="support">Support</a>
    </div>
    <div class="content">
        <h1>Translator</h1>
        <h3>Type in your text, choose a cipher and encrypt away! Press the switch button if you would like to decrypt!</h3>
        <div>
            <table>
                <tr>
                    <th>Encrypt &nbsp
                        <select>
                            <option>Caesar Cipher</option>
                            <option>Atbash Cipher</option>
                            <option>Keyword Cipher</option>
                            <option>Morse Code</option>
                        </select>
                    </th>
                    <th><button>Switch</button></th>
                    <th>Result</th>
                </tr>
                <tr>
                    <td colspan="2"><textarea id="input" placeholder="Enter your text here..." rows="20" cols="50"></textarea></td>
                    <td></td>
                </tr>
            </table>
            <label for="shift">Caesar Shift:</label>
            <input type="number" min="1" max="25" placeholder="3" id="shift">
            <label for="keyword">Keyword:</label>
            <input type="text" placeholder="keyword" id="keyword">
        </div>
        <button>Encrypt</button>
    </div>
    <footer>
        <p>&copy; 2024 MASS Encryptor. All rights reserved.</p>
    </footer>
</body>
</html>
