/* General Styles */
body {
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    background-color: #0a0a0a;
}

.content {
    margin: 20px;
}
.glow {
    color: #fff;
    animation: glow 3s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #008080, 0 0 40px #008080, 0 0 50px #008080, 0 0 60px #008080, 0 0 70px #008080;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #00e0e0, 0 0 40px #00e0e0, 0 0 50px #00e0e0, 0 0 60px #00e0e0, 0 0 70px #00e0e0, 0 0 80px #00e0e0;
    }
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 1rem;
    border-bottom: 2px solid #008080; 
}

.navbar .logo {
    font-size: 1.5rem;
    color: #00e0e0; 
}

.navbar .links a {
    color: #00e0e0; 
    margin: 0 1rem;
    text-decoration: none;
}

.navbar .links a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #111;
    color: #00e0e0;
    text-align: center;
    padding: 1rem;
    border-top: 2px solid #008080; 
}

/* Index Page Styles */
.index-page {
    background-image: url('TBD'); 
    background-size: cover;
    background-attachment: fixed;
}

.index-page #mass-encryptor h1 {
    font-size: 3rem;
    color: #ffb000; 
    text-shadow: 0 0 10px #ffb000; 
}

.index-page #mass-encryptor .description {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #ccc;
}

.index-page .cta-button {
    font-family: 'VT323', monospace; 
    background-color: #111;
    color: #00e0e0;
    padding: 0.8rem 1.5rem; 
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 25px; 
    font-size: 1rem; 
    box-shadow: 0 0 20px #00e0e0; 
}

.index-page .cta-button:hover {
    background-color: #00e0e0;
    color: #111;
    box-shadow: 0 0 30px #00e0e0; 
}

.index-page #decoder-image {
    text-align: center;
    margin-top: 2rem;
}

.index-page #decoder-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #00e0e0; 
    box-shadow: 0 0 20px #00e0e0;
}

/* Responsive Design */
@media (min-width: 1025px) {
    /* Desktop screens */
    .navbar .links a {
        margin: 1rem;
    }

    main {
        padding: 2rem;
    }

    #mass-encryptor h1 {
        font-size: 3rem;
    }

    #mass-encryptor .description {
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
    /* Tablet screens (landscape and portrait) */
    .navbar .links a {
        margin: 0.5rem;
    }

    main {
        padding: 1.5rem;
    }

    #mass-encryptor h1 {
        font-size: 2.5rem;
    }

    #mass-encryptor .description {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    /* Tablet screens (portrait) */
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar .links a {
        margin: 0.5rem 0;
        width: 100%;
        text-align: left;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #00e0e0;
    }

    main {
        padding: 1rem;
    }

    #mass-encryptor h1 {
        font-size: 2rem;
    }

    #mass-encryptor .description {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    /* Mobile screens (landscape and portrait) */
    .navbar .logo {
        font-size: 1.2rem;
    }

    .navbar .links a {
        margin: 0.5rem 0;
        width: 100%;
        text-align: left;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #00e0e0;
    }

    main {
        padding: 0.5rem;
    }

    #mass-encryptor h1 {
        font-size: 1.5rem;
    }

    #mass-encryptor .description {
        font-size: 0.9rem;
    }

    #mass-encryptor button {
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
    }
}

/* Add specific styles for other pages here */
.box {
    padding-left: 15px;
    border: 2px solid #00e0e0; 
    box-shadow: 0 0 20px #00e0e0;
}

th, td {
    padding: 10px;
    border-color: white;
}

select {
    display: inline-block;
    background-color: #111;
    color: white;
    font-family: monospace;
    padding: 10px 15px;
    box-shadow: 0px 5px 5px 0px rgba(141, 216, 245, 0.8);
  }

select option:checked {
    background-color: cyan;
    color: black;
}

.form {
    padding: 5px;
    margin: 5px;
    background-color: #111;
    color: white;
    border: 2px solid #00e0e0;
}

.form:focus {
    box-shadow: 0 0 20px #00e0e0;
}